body {
  margin: 0;
  padding: 0;
  background-color: beige;
  width: 100%;
  height: 100vh;
}
.container {
  background-color: white;
  width: 500px;
  margin: 20px auto;
  padding: 20px 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px black;
}
#score{
    display: block;
    margin:0% 0% 0% 70%;
    padding-inline-start: 2%;
    font-size:10px;
    color: red;
   
 
}
#total{
  display: grid;
  justify-content: center;
  align-items:center;
  margin: 10% 0 0 0;
  font-size: 20px;
  display: none;
  color :black;
}
.answer-bouttons button {
  width: 100%;
  margin: 10px 0px;
  padding: 20px;
  border: none;
  outline: none;
  text-align: left;
  background-color: rgb(208, 201, 201);
  cursor: pointer;
  border-radius: 20px;
}
.answer-bouttons button:hover {
  background-color: rgb(175, 172, 172);
}
.next {
  width: 20%;
  font-size: 22px;
  color: white;
  background-color: rgb(0, 0, 75);
  cursor: pointer;
  display: none;
}
.next:hover {
  transform: scale(90%);
}
a {
  text-decoration: none;
  width: 20%;
  background-color: aqua;
  color: black;
  font-size: 20px;
  margin-left: 80%;
  display: none;
  text-align: center;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 20px;
  cursor: pointer;
}
a:hover {
  transform: scale(90%);
}
#leave a {
    display: block;
    justify-content: end;
    align-items: end;
    margin-left: 400px;
    text-align: center;
    text-decoration: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease all;
}
#leave button{
  background-color: white;
  width:100px;
  height: 40px;
  border-radius: 10px;
}
#leave button:hover{
    transform: scale(99%);
}
.image img{
  width: 100px;
  height: 40px;
  margin-top: -20px;
  display: grid;
  margin-left: 420px;
  border-top-right-radius:10px ;
   border-bottom-left-radius:5px ;
  
}
@media (max-width: 575px) {
  .container{
    width: 250px;
    height: auto;
    margin: 3px auto;
    padding: 3px 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
  }
  .next{
    width: 30%;
    font-size: 12px;
    margin-top: -10px;
    
  }
  a{
    width: 30%;
    font-size: 10px;
    margin-left: 70%;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 10px;
  }
  .image img{
  width: 100px;
  height: 40px;
  margin-top: -4px;
  display: grid;
  margin-left: 160px;
  border-top-right-radius:10px ;
   border-bottom-left-radius:5px ;
  
}
#leave a {
    display: block;
    justify-content: end;
    align-items: end;
    margin-left: -7px;
    text-align: center;
    text-decoration: none;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease all;
    margin-top: -30px;
}
#leave button{
  background-color: white;
  width:80px;
  height: 30px;
  border-radius: 10px;
  
}


}


